*{
    font-family: "League Spartan", serif;
    margin: auto;
    padding:0;
}
h1{
    font-size:45px;
    color:#bbb;
}
body{
    background-color:#171717;
    overflow: auto;
    margin: auto;
    /* background-color: #F9F6EE; */ 
}
.title-text{
    font-size:25px;
}
.nav{
    position: fixed;
    height:80px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin:auto;
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: slideTopAndFade 3.5s forwards; /*forwards keeps the final position of the navbar*/
}
.nav > a{
    color: white;
    font-weight:bold;
    text-decoration: none;
    border:2px solid skyblue;
    padding:16px;
    border-radius:12px;
    transition: background-color 1s ease;

}
.nav > a:hover{
    background-color: #8bd3adb3;
}

@keyframes slideTopAndFade{
    0%{
        top:-100px;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}
main{
    margin: auto;
    max-width: 70rem;
    border-left:2px solid purple;
    border-right: 2px solid purple;
}
.intro-body{
    display: flex;
    justify-content: space-around;
}
.introduction{
    margin-top: 200px;
    max-width: 40%;
}
.profile-pic{    
    height:300px;
    width:300px;
    border-radius:50%;
    border: 4px solid skyblue;
    box-shadow: 0px 0px 50px rgba(255,255,255, 0.25);
}
.intro-images{
    max-width: 45%;
    margin-top:200px;
}
.gradient{
    text-align: center;
    font-size:45px;
    margin: auto;
    margin-top:200px;
    /* text shadow, first is pixels right, second is pixels down, third is the blur radius in pixels. then the color is what the shadow color will be, the white adds a litle cool glow effect. */
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.15); 
    /* makes the text color have a gradient that transitions from a dark blue to a purple color. */
    background: -webkit-linear-gradient(right,#f60ae6, #00e5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-weight: bold;
    font-size:20px;
    /* color:#555 */
    color:#aaa;
}
.mint{
    color:#8bd3ad;  
}
.accomplish{
    text-align: center;
    margin-top: 150px;
    color:#8bd3ad;
}
.quick-achievements{
    display: flex;
    justify-content: space-evenly;
    margin:5px;
    padding:5px;
   
}
.box{
    background-color: #ccc;
    margin: 20px;
    padding:20px;
    border-radius:20px;
    box-shadow: 0px 0px 25px rgba(255,255,255, 0.25);

}
.box > h2{
    text-align:center;
    text-decoration: underline;
    margin-bottom:20px;
}
.box > img{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width:100%;
    height:100px;

}
.box > p{
    color:#444;
}















#circle {
    /* making sure that circle can be anywhere on the webpage so absolute positioning :thumbs up: */
    position: absolute;
    /* same width and height to create a square and then turn it into a circle later on. */
    width: 13rem;
    height: 13rem;
    border-radius: 50%; /* smooth the square into a circle */
    background: rgb(122,154,240);
    background: radial-gradient(circle, rgba(122,154,240,0.25) 0%, rgba(205,122,240,0.1) 40%, rgba(23,23,23,0) 60%);
    transform: translate(-50%, -50%); /* center this stupid circle to the middle of the cursor because it will be ugly without it. subtracting width and height to make it centered. */
}
